$color: #ec3e72;
$white: #ffffff;
$transition: all 0.4s ease-in-out;

.player-wrapper {
	font-family: sans-serif;
	width: 100%;
	position: relative;
	user-select: none;
	transition: $transition;

	.controls-wrapper {
		background: rgba(0, 0, 0, 0.5);
		visibility: visible;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 6px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		// padding: 20px;
	}
	.video-details-container {
		color: $white;
		padding: 1.5em;
		.video-title {
			color: inherit;
			font-size: 20px;
			line-height: 23px;
			font-weight: 500;
			font-style: normal;
		}
		.video-caption {
			color: inherit;
			font-size: 16px;
			line-height: 19px;
			font-weight: 500;
			font-style: normal;
			margin-top: 15px;
		}
	}
	.play-pouse-video {
		height: 100%;
	}
	.progress-wrapper {
		display: grid;
		grid-template-columns: auto 1fr auto;
		align-items: center;
		gap: 15px;
		padding: 0.5em 1em;
	}
	.video-duration {
		color: $white;
		font-size: 14px;
		line-height: 14px;
		font-weight: 400;
		font-style: normal;
	}

	.left-section {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		flex: 2;
	}
	.middle-section {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex: auto;
	}
	.right-section {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		flex: auto;
	}

	.pointer {
		cursor: pointer;
	}

	.ant-slider {
		height: 14px;
		margin: 0px;
		.ant-slider-rail,
		.ant-slider-track,
		.ant-slider-step {
			height: 6px;
			border-radius: 3px;
		}
		.ant-slider-track {
			background-color: $color;
		}
		.ant-slider-handle {
			border-color: $color;
			margin-top: -4px;
		}
		&:hover .ant-slider-handle:not(.ant-tooltip-open) {
			border-color: $color;
		}
	}

	.player-controls {
		display: flex;
		justify-content: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
		-webkit-box-align: center;
		-moz-box-align: center;
		-webkit-box-pack: center;
		-moz-box-pack: center;
		justify-content: space-between;
		padding: 0.5em 0;
	}

	.zoom-controls {
		transform: scale(1.2);
	}

	button {
		background: transparent;
		box-sizing: border-box;
		border: 0px transparent;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2.5em;
		position: relative;
		min-width: 1.5em;
		height: 1.5em;
		padding: 0.25em 0.3em;
		outline: none;
		transition: $transition;
		@extend .pointer;
	}
	.value-control-button {
		font-size: 2em;
		.valume-control {
			background: #272727;
			position: absolute;
			bottom: 100%;
			display: none;
			opacity: 0;
			padding: 15px 10px;
			border-radius: 5px;
			overflow: hidden;
			transition: $transition;

			.ant-slider-vertical,
			.ant-slider-rail {
				height: 80px;
			}
		}

		&:hover .valume-control {
			display: block;
			opacity: 1;
		}
	}
	.speedometer-button {
		.speed-rate-container {
			background: #272727;
			position: absolute;
			opacity: 0;
			bottom: 100%;
			border-radius: 5px;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			li {
				font-size: 14px;
				font-weight: 700;
				color: $white;
				padding: 10px;
				transition: $transition;
				@extend .pointer;

				&:hover {
					color: $color;
				}

				.speed-rate-active {
					color: $color;
				}
			}
		}

		&:hover .speed-rate-container {
			opacity: 1;
		}
	}
	.info-text-container {
		font-size: 14px;
		font-weight: 700;
		color: $white;
		padding: 0.25em 0.3em;
		min-width: 95px;
		text-align: center;
		transition: $transition;
		transition-property: min-width;
	}
	.rewind-forward-button {
		.caption {
			position: absolute;
			font-size: 12px;
			font-weight: 700;
			top: 20px;
			left: 0;
			right: 0;
		}
	}
	.svg-icon-image {
		width: 32px;
	}
	.rewind-forward-icon {
		width: 28px;
	}
	.next-chapter-button {
		display: flex;
		align-items: center;
		font-size: 1em;
		font-weight: 700;
		color: $white;
		padding: 0.25em 0.3em;
		transition: $transition;
		@extend .pointer;

		svg {
			font-size: 2.5em;
		}
	}
	.video-quality-button {
		margin-right: 20px;
		.quality-badge {
			background: $white;
			border-radius: 2px;
			color: #575656;
			display: inline-block;
			font-size: 12px;
			line-height: 14px;
			font-style: normal;
			font-weight: 700;
			padding-top: 3px;
			margin-right: 8px;
			text-align: center;
			width: 25px;
			height: 18px;
			transition: $transition;
			@extend .pointer;
		}
	}
	.controls-text {
		color: $white;
		font-size: 14px;
		line-height: 20px;
		font-style: normal;
		font-weight: 600;
		transition: $transition;
		transition-property: opacity;
	}

	button:hover,
	.next-chapter-button:hover,
	.quality-badge:hover {
		transform: scale(1.2);
	}

	@media only screen and (max-width: 768px) {
		.middle_section {
			justify-self: center;
		}
		.controls-wrapper {
			padding: 0px;
		}
		
		button,
		.next-chapter-button svg {
			font-size: 2em;
		}
		.value-control-button {
			font-size: 1.8em;
		}

		.svg-icon-image {
			width: 28px;
		}

		.svg-icon-image {
			width: 24px;
		}
		.rewind-forward-button {
			.caption {
				top: 15px;
			}
		}

		.info-text-container,
		.controls-text {
			display: none;
			opacity: 0;
		}
		.video-details-container {
			padding: 1em;
			.video-title {
				font-size: 16px;
				line-height: 19px;
			}
			.video-caption {
				font-size: 14px;
				line-height: 19px;
				margin-top: 10px;
			}
		}
		.video-quality-button {
			margin-right: 10px;
		}
	}
}
